@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
}

body {
  @apply bg-gray-900;
  @apply text-slate-50;
  scroll-behavior: smooth;
  min-width: 390px;
  overflow: hidden; /* LoadingScreen component removes this on load */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(71 85 105);
}

::-webkit-scrollbar-thumb {
  background-color: #EF8275;
  border-radius: 6px;
  border: 2px solid #414141;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9f5f5;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes -transX {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes transX {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes transY {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes -transY {
  from {
    transform: translateY(-30%);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%, 15%, 100% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-1deg);
  }
  10% {
    transform: rotate(1deg);
  }
}

@keyframes bounceDown {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}



.bounceDown {
  animation: bounceDown 0.5s;
}


.shake {
  animation: shake 3s ease-out infinite;
}



.fadeIn {
  animation: fadeIn 1s;
}

.fadeInRight {
  animation: fadeIn 1s, transX 1s;
}

.fadeInLeft {
  animation: fadeIn 1s, -transX 1s;
}

.fadeInUp {
  animation: fadeIn 1s, transY 1s;
}

.fadeInDown {
  animation: fadeIn 1s, -transY 1s;

}


.enterRight {
  animation: transX 1.5s;
}

.enterLeft {
  animation: -transX 1.5s;
}

.enterUp {
  animation: transY 1.5s;
}

.enterDown {
  animation: -transY 1.5s;
}