@keyframes pulse {
    0%, 100% {
        transform: scale(100%);
    }

    3%, 9% {
        transform: scale(80%);
    }

    7%, 11% {
        transform: scale(90%);
    }
}

@keyframes drift {
    0%, 100% {
        transform: translateX(0%);
        transform: scale(100%);
    }
    3%, 9% {
        transform: scale(80%);
    }

    7%, 11% {
        transform: scale(90%);
    }
    25% {
        transform: translateX(-2%)
    }
    50% {
        transform: translateX(2%)
    }       
}

.maskCovered {
    width: 200px;
    height: 200px;
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="white"/></svg>');
    mask-size: 40%;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 1s;
    animation: drift 5s infinite ease-in-out;
}

.maskUncovered {
    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50" fill="white"/></svg>');
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 1s;
    mask-size: 150%;
}