.navbar {
    position: fixed;
    right: 0px;
    top: 0px;
    transition: top 0.5s, min-width 0.3s, background 0.4s;
    min-width: 100%;
    max-width: 100% !important;
    text-align: center;
    transform: translateX(50%, 0);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbarContainerSmall {
    right: 10%;
    top: 30px;
    border-radius: 50px;
    justify-content: flex-start;
    column-gap: 0px;
    gap: 0px;
    min-width: 0%;
    max-height: 100px;
    transition: transform 2s, min-width 0.5s, width 0.5s, max-height 0.5s, top 1s, background 0.4s, border-color 1s, right 3s, border-radius 1s, gap 2s;
    border: 3px solid #96BBBB;
}

.navbarContainerSmallOpen {
    min-width: 250px;
    max-height: 1000px;
    border-radius: 20px;
    border: 3px solid black;
}



@keyframes navRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.navbarSmallRotate {
    animation: navRotate 0.2s ease-in-out 2 alternate;
}

.smallMenuBtn {
    transition: background-color 0.2s;
}

.smallMenuBtn:hover {
    transition: background-color 1s;
}




@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes extend {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.navLinks {
    opacity: 1;
    animation: fadeIn 1s forwards;
    transition: color 0.3s;
}

.navLinks::after {
    content: '';
    display: block;
    left: 5%;
    top: 0;
    width: 0;
    height: 2px;
    transform: translateX(50%);
    background: white;
    transition: all 0.3s;
}

.navLinks:hover::after {
    transform: translateX(0%);
    width: 100%;
}

.navLinks:hover {
    color: #EF8275;
}